<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>{{ subject }}</title>
	<style>{% block styles %}{% endblock %}</style>
</head>
<body>
	{% block content %}{% endblock %}
</body>
</html>