<div class="field-box{% if field.name %} field-{{ field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}">
	{% if not field.is_readonly %}{{ field.errors }}{% endif %}
	{% if field.field.is_checkbox %}
		{{ field }}
	{% endif %}
	{% if not field.is_hidden %}
		<label for="{{ field.auto_id }}">
			{{ field.label }}
			 {% if field.help_text %}
				<span class="help" tabindex="-1" data-content="{{ field.help_text }}" title="{{ field.help_text }}"><span>{{ field.help_text|safe }}</span></span>
			{% endif %}
		</label>
	{% endif %}
	{% if field.is_readonly %}
		<p class="readonly">{{ field.contents|linebreaksbr }}</p>
	{% elif not field.field.is_checkbox %}
		{% if field.field.widget.prefix %}<span class="prefix">{{ field.field.widget.prefix }}</span>{% endif %}{{ field }}
		{% if field.field.widget.suffix %}<span class="suffix">{{ field.field.widget.suffix }}</span>{% endif %}
	{% endif %}
</div>