<a href="https://instagram.com/{{ block.username }}" alt="instagramuser-block">
	{% set images = block.get_images(1) %}
	{% if images %}
		<img src="{{ images[0]['images']['standard_resolution']['url'] }}" alt="{{ block.username }} Instagram"/>
	{%endif %}

	{% if block.title %}
		<span>{{ block.title }}</span>
	{% else %}
		<span>{{ block.username }}</span>
	{% endif %}
</a>