{% extends "admin/base.html" %}
{% load i18n admin_static admin_list admin_extras %}
{% load admin_urls %}

{% block bodyclass %}{{ cl.opts.verbose_name_plural }} batch{% endblock %}

{% block content %}

<h1>{{ form.title }}</h1>
<p>The following items will be affected:</p>

<ul>
{% for item in items %}
	<li><strong>{{ item }}</strong></li>
{% endfor %}
</ul>

<form action="" method="post">{% csrf_token %}
	{% for field in form %}
		{% render_field field %}
	{% endfor %}
	<div class="submit-row well">
		<input type="submit" value="Save" />
		<a href="{{ return_url }}">Cancel</a>
	</div>
</form>

{% endblock %}

{% block stylesheets %}{{ block.super }}
{{ media.css }}
{% endblock %}