{% extends "admin/base.html" %}
{% load i18n staticfiles %}
{% block bodyclass %}reports dashboard{% endblock %}

{% block title %}Dashboard / {{ block.super }}{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	<link href="{% static "syferadmin/libs/nvd3/nvd3.css" %}" rel="stylesheet">
	<link href="{% static "syferadmin/css/reports.css" %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
	{{ block.super }}
	{{ form.media }}
	<script src="{% static "syferadmin/libs/d3/d3.js" %}"></script>
	<script src="{% static "syferadmin/libs/nvd3/nvd3.js" %}"></script>
	<script src="{% static "syferadmin/libs/jquery.cookie.js" %}"></script>
	<script src="{% static "syferadmin/libs/dateFormat.js" %}"></script>
	<script src="{% static "syferadmin/libs/countUp.js" %}"></script>
	<script src="{% static "syferadmin/js/reports.js" %}"></script>
{% endblock %}

{% block content %}

	<header data-tz="{{ region.timezone }}" data-tz-abbrev="{% now 'e' %}">
		<h2>
			Dashboard 
			<span class="dashboard-date-range" title="All times are {{ region.timezone }}">
				<span data-start-date>{% now "m/d/Y e" %}</span>
				<span class="date-range-divider">-</span>
				<span data-end-date>{% now "m/d/Y e" %}</span>
			</span>
		</h2>

		{% if show_filters %}
			<menu id="tools">
				<button type="button" class="refresh" data-action="refresh">Refresh</button>
				<ul class="date_ranges" data-ranges>
					<li><button type="button" data-range="day" title="12:00AM - Now">Today</button></li>
					<li><button type="button" data-range="week" title="Last 7 days">This Week</button></li>
					<li><button type="button" data-range="month" title="Last 30 days">This Month</button></li>
					<li><button type="button" data-range="year" title="Last 12 months">This Year</button></li>
					<li>
						<button type="button" data-range="custom" title="Enter a custom date range">Custom...</button>
						<div class="custom-select" data-ui="custom" style="display: none;">
							<label for="start_date">Start Date:</label> {{ form.start_date }}
							<label for="end_date">End Date:</label> {{ form.end_date }}
							<input id="custom" type="submit" value="Go">
						</div>
					</li>
				</ul>
			</menu>
			{% if filters %}
				<div id="changelist-filter" class="filters-on-right">
					<h2>Filter</h2>
					<ul>
						{% for filter in filters %}
							<li>
								<h3> By {{ filter.0 }} </h3>
								<ul>
									{% for key, options in filter_option_list.items %}
										{% if key == filter.1 %}
											{% if options|length < 10 %}
												{% for opt in options %}
												    <li {% if opt.selected %}class="selected"{% endif %}>
														<a href="{{ opt.query }}">{{ opt.text }}</a>
												    </li>
												{% endfor %}
											{% else %}
												<select class="filterer">
												{% for opt in options %}
													<option value="{{ opt.query|iriencode }}"{% if opt.selected %} selected="selected"{% endif %}>{{ opt.text }}</option>
												{% endfor %}
												</select>
											{% endif %}
										{% endif %}
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					</ul>
				</div>
				{% if selected_filters %}
					<script type="text/javascript">
						var report_params = {}
						{% for key,value in selected_filters.items %}
							report_params['{{ key }}'] = '{{ value }}';
						{% endfor %}
					</script>
				{% endif %}
			{% endif %}
		{% endif %}
	</header>

	<noscript>

		<h3>Javascript must be enabled to view the Dashboard</h3>

	</noscript>

	{% if not error %}
	<section id="reports">
		{% for container in containers %}
			<div class="{{ container.name }}">
			{% for report in container.reports %}
				<div id="{{ report.token }}" class="report" data-report="{{ report.token }}">
					{% if report.media %}
						{{ report.media }}
					{% else %}
						<script type="text/javascript">
							Dashboard.add({token: "{{ report.token }}"})
						</script>
					{% endif %}
					<header data-drag-handle>
						<h3>{{ report.title }}</h3>
						<ul class="report-toolbox">
							<li><button type="button" class="toggle" data-action="toggle" title="Toggle">Toggle</button></li>
						</ul>
					</header>
					<div class="data-body" data-body></div>
					<script type="text/template" data-template>
						{% include report.template %}
					</script>
				</div>
			{% endfor %}
			</div>
		{% endfor %}
	</section>
	{% endif %}

{% endblock %}