{% extends "admin/login_base.html" %}
{% load i18n %}

{% block content %}

	<h1>{% trans "Oh No!" %}</h1>

	<p>{% trans "Misplaced your password? Do not fret!" %}</p>
	
	<p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>

	<form action="" method="post" class="password-reset-form">{% csrf_token %}
		{{ form.email.errors }}
		<div class="form-group">
			<label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }}
		</div>
		<div class="submit-row">
			<input type="submit" value="{% trans 'Reset my password' %}" />
		</div>
		<a id="password-reset" href="{% url 'admin:index' %}">{% trans 'Back to login' %}</a>
	</form>

{% endblock %}
