/* line 14, ../sass/partials/_icon-mixins.scss */
.uploader .zoom:before, .uploader .file-zoom:before {
  font-family: "AdminIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-transform: none;
}

@-webkit-keyframes fadeIn {
  /* line 4, ../sass/partials/_reusables.scss */
  0% {
    opacity: 0;
  }

  /* line 8, ../sass/partials/_reusables.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 14, ../sass/partials/_reusables.scss */
  0% {
    opacity: 0;
  }

  /* line 18, ../sass/partials/_reusables.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  /* line 103, ../sass/partials/_reusables.scss */
  from {
    opacity: 0;
  }

  /* line 107, ../sass/partials/_reusables.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  /* line 103, ../sass/partials/_reusables.scss */
  from {
    opacity: 0;
  }

  /* line 107, ../sass/partials/_reusables.scss */
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  /* line 103, ../sass/partials/_reusables.scss */
  from {
    opacity: 0;
  }

  /* line 107, ../sass/partials/_reusables.scss */
  to {
    opacity: 1;
  }
}

/* line 606, ../sass/partials/_reusables.scss */
.uploader li:hover .delete {
  opacity: 1;
}
/* line 611, ../sass/partials/_reusables.scss */
.uploader li .delete {
  background: #c0392b;
  cursor: pointer;
  font-size: 11px;
  height: 27px;
  max-width: 25px;
  opacity: 0;
  overflow: hidden;
  padding: 5px 10px 5px 3px;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
}
/* line 626, ../sass/partials/_reusables.scss */
.uploader li .delete:before {
  color: #fff;
  content: "\f00d";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  padding-left: 4px;
  padding-right: 6px;
  position: relative;
  top: 1px;
}
/* line 640, ../sass/partials/_reusables.scss */
.uploader li .delete:hover {
  max-width: 100px;
}
/* line 643, ../sass/partials/_reusables.scss */
.uploader li .delete:hover:before {
  color: #c0392b;
}

/* line 650, ../sass/partials/_reusables.scss */
.uploader li, .uploader .drop-area, .uploader .upload-button {
  background: #fff;
  border: solid 1px #ccc;
  float: left;
  margin-bottom: 1em;
  margin-right: 1em;
  min-height: 128px;
  padding: 5px;
  position: relative;
  width: 128px;
}

/* line 1621, ../sass/partials/_reusables.scss */
.uploader ul.ui-sortable li {
  cursor: move;
}
/* line 1624, ../sass/partials/_reusables.scss */
.uploader ul.ui-sortable li.placeholder {
  border-style: dashed;
}

/* line 1868, ../sass/partials/_reusables.scss */
.url {
  margin-top: 0;
}
/* line 1871, ../sass/partials/_reusables.scss */
.url a {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 5px;
}

@-webkit-keyframes loader {
  /* line 1962, ../sass/partials/_reusables.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 1966, ../sass/partials/_reusables.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes loader {
  /* line 1972, ../sass/partials/_reusables.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 1976, ../sass/partials/_reusables.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes loader {
  /* line 1982, ../sass/partials/_reusables.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 1985, ../sass/partials/_reusables.scss */
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  /* line 10, ../sass/upload-widget.scss */
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  /* line 11, ../sass/upload-widget.scss */
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-moz-keyframes rotation {
  /* line 10, ../sass/upload-widget.scss */
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  /* line 11, ../sass/upload-widget.scss */
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-o-keyframes rotation {
  /* line 10, ../sass/upload-widget.scss */
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  /* line 11, ../sass/upload-widget.scss */
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes rotation {
  /* line 10, ../sass/upload-widget.scss */
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  /* line 11, ../sass/upload-widget.scss */
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes stripescroll {
  /* line 15, ../sass/upload-widget.scss */
  from {
    background-position: 0 0;
  }

  /* line 16, ../sass/upload-widget.scss */
  to {
    background-position: -40px 0;
  }
}

@-moz-keyframes stripescroll {
  /* line 15, ../sass/upload-widget.scss */
  from {
    background-position: 0 0;
  }

  /* line 16, ../sass/upload-widget.scss */
  to {
    background-position: -40px 0;
  }
}

@-o-keyframes stripescroll {
  /* line 15, ../sass/upload-widget.scss */
  from {
    background-position: 0 0;
  }

  /* line 16, ../sass/upload-widget.scss */
  to {
    background-position: -40px 0;
  }
}

@keyframes stripescroll {
  /* line 15, ../sass/upload-widget.scss */
  from {
    background-position: 0 0;
  }

  /* line 16, ../sass/upload-widget.scss */
  to {
    background-position: -40px 0;
  }
}

/* line 19, ../sass/upload-widget.scss */
body.dragging .uploader .upload-button {
  display: none !important;
}

/* line 23, ../sass/upload-widget.scss */
.inline-group li {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  border-color: #e5e5e5 !important;
}

/* line 29, ../sass/upload-widget.scss */
.uploader:after {
  display: block;
  content: '';
  clear: both;
}
/* line 35, ../sass/upload-widget.scss */
.uploader img {
  margin-left: auto;
  margin-right: auto;
}
/* line 40, ../sass/upload-widget.scss */
.uploader li, .uploader .upload-button, .uploader .drop-area {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  border-color: #e5e5e5 !important;
}
/* line 44, ../sass/upload-widget.scss */
.uploader li img, .uploader .upload-button img, .uploader .drop-area img {
  display: block;
}
/* line 49, ../sass/upload-widget.scss */
.uploader li {
  min-width: 170px;
  text-align: center;
}
/* line 55, ../sass/upload-widget.scss */
.uploader li:before, .uploader li:after {
  content: "\f013";
  font-family: FontAwesome;
  -o-animation: rotation 1.5s linear infinite;
  -moz-animation: rotation 1.5s linear infinite;
  -webkit-animation: rotation 1.5s linear infinite;
  animation: rotation 1.5s linear infinite;
  -webkit-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
  font-size: 6em;
  color: #E2E2E2;
  width: 1em;
  opacity: 0;
  height: 1em;
  border-radius: .5em;
  vertical-align: baseline;
  line-height: 1.05em;
}
/* line 77, ../sass/upload-widget.scss */
.uploader li:after {
  font-size: 3em;
  -o-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: #aaa;
}
/* line 84, ../sass/upload-widget.scss */
.uploader li .delete {
  background: #c0392b;
  border-radius: 3px;
  color: #fff !important;
  cursor: pointer;
}
/* line 90, ../sass/upload-widget.scss */
.uploader li .delete:before, .uploader li .delete:hover:before {
  color: #fff;
}
/* line 96, ../sass/upload-widget.scss */
.uploader li.encoding:before, .uploader li.encoding:after, .uploader li.loading:before, .uploader li.loading:after {
  opacity: 1;
}
/* line 101, ../sass/upload-widget.scss */
.uploader li .progress {
  background-color: rgba(77, 172, 100, 0.75);
  bottom: 9px;
  display: block;
  height: 40px;
  left: -34px;
  position: absolute;
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  -ms-transform: scale(0.65);
  -o-transform: scale(0.65);
  transform: scale(0.65);
  width: 0%;
}
/* line 111, ../sass/upload-widget.scss */
.uploader li .progress:after {
  content: attr(data-progress);
  display: inline-block;
  left: 100%;
  font-size: 12px;
  margin: -7px 0 0 8px;
  position: absolute;
  top: 50%;
}
/* line 121, ../sass/upload-widget.scss */
.uploader li .progress:before {
  bottom: -12px;
  left: -12px;
  position: absolute;
  right: -47px;
  top: -12px;
}
/* line 131, ../sass/upload-widget.scss */
.uploader p {
  margin-top: 0;
}
/* line 135, ../sass/upload-widget.scss */
.uploader ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 141, ../sass/upload-widget.scss */
.uploader ul:empty ~ .upload-button {
  margin-left: 0;
}
/* line 146, ../sass/upload-widget.scss */
.uploader ul.ui-sortable {
  min-height: 10px;
  padding-top: 10px;
}
/* line 151, ../sass/upload-widget.scss */
.uploader .drop-area {
  border: dashed 1px #999;
  background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #dddddd), color-stop(25%, #eeeeee), color-stop(25%, #ffffff), color-stop(50%, #ffffff), color-stop(50%, #dddddd), color-stop(75%, #eeeeee), color-stop(75%, #ffffff));
  background: -webkit-linear-gradient(left bottom, #dddddd 0%, #eeeeee 25%, #ffffff 25%, #ffffff 50%, #dddddd 50%, #eeeeee 75%, #ffffff 75%);
  background: -moz-linear-gradient(left bottom, #dddddd 0%, #eeeeee 25%, #ffffff 25%, #ffffff 50%, #dddddd 50%, #eeeeee 75%, #ffffff 75%);
  background: -o-linear-gradient(left bottom, #dddddd 0%, #eeeeee 25%, #ffffff 25%, #ffffff 50%, #dddddd 50%, #eeeeee 75%, #ffffff 75%);
  background: linear-gradient(left bottom, #dddddd 0%, #eeeeee 25%, #ffffff 25%, #ffffff 50%, #dddddd 50%, #eeeeee 75%, #ffffff 75%);
  background-size: 20px 20px;
  -o-animation: stripescroll 1s linear infinite;
  -moz-animation: stripescroll 1s linear infinite;
  -webkit-animation: stripescroll 1s linear infinite;
  animation: stripescroll 1s linear infinite;
  display: none;
}
/* line 159, ../sass/upload-widget.scss */
.uploader .drop-area span {
  text-align: center;
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1em;
  font-size: .8em;
  left: 0;
}
/* line 170, ../sass/upload-widget.scss */
.uploader .drop-area.hover {
  border: solid 1px #66AFE9;
  -o-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@media (min-width: 480px) {
  /* line 151, ../sass/upload-widget.scss */
  .uploader .drop-area {
    height: 160px;
    max-width: 240px;
    width: 48%;
  }
}
/* line 184, ../sass/upload-widget.scss */
.uploader .message {
  background-color: #333;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  left: 100%;
  letter-spacing: .05em;
  margin-left: 15px;
  position: absolute;
  top: 33%;
  padding: 15px 30px;
  width: 240px;
}
/* line 197, ../sass/upload-widget.scss */
.uploader .message:before {
  border-color: transparent #333 transparent transparent;
  border-style: solid;
  border-width: 9px;
  content: "";
  margin-top: -9px;
  position: absolute;
  right: 100%;
  top: 50%;
}
/* line 209, ../sass/upload-widget.scss */
.uploader .upload-button {
  border-style: dashed;
  margin-left: 1em;
  text-indent: -9000px;
}
/* line 215, ../sass/upload-widget.scss */
.uploader .upload-button:before {
  content: "\f067";
  font-family: FontAwesome;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 4em;
  margin-top: -.55em;
  margin-left: -.5em;
  display: block;
  line-height: 1em;
  text-align: center;
  width: 1em;
  color: #AAA;
  padding-top: .1em;
  text-indent: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 236, ../sass/upload-widget.scss */
.uploader .upload-button:hover:before {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  color: #222;
}
/* line 243, ../sass/upload-widget.scss */
.uploader .zoom, .uploader .file-zoom {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #3498db;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  left: 10px;
  letter-spacing: .05em;
  line-height: 9px;
  max-width: 27px;
  opacity: 0;
  overflow: hidden;
  padding: 4px 10px 9px 4px;
  position: absolute;
  top: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
}
/* line 20, ../sass/partials/_icon-mixins.scss */
.uploader .zoom:before, .uploader .file-zoom:before {
  content: "\e659";
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  margin: 0 0 0 2px;
  position: relative;
  top: 3px;
  padding-right: 6px;
}
/* line 263, ../sass/upload-widget.scss */
.uploader .zoom:hover, .uploader .file-zoom:hover {
  max-width: 110px;
}
/* line 268, ../sass/upload-widget.scss */
.uploader li:hover .zoom, .uploader li:hover .file-zoom {
  opacity: 1;
}
